@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ededed;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .thin-scrollbar {
    @apply [&::-webkit-scrollbar]:w-1.5
      [&::-webkit-scrollbar-track]:bg-transparent
      [&::-webkit-scrollbar-thumb]:bg-[#333]
      [&::-webkit-scrollbar-thumb]:rounded-full
      [scrollbar-width:thin]
      [scrollbar-color:#333_transparent];
  }
}

/* .thin-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 9999px;
}
.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
} */
